/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #29c914;
}

#game {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 4em;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    background-color: #8b13d6;
    border: 1px solid #d7c710;
}

.cell:hover {
    background-color:aquamarine;
}

.cell.x {
    color: red;
}

.cell.o {
    color: blue;
}
